<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhw.dao.ShareFileDao" >

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into share_files(f_id,down_code,over_time) value (#{fId},#{downCode},#{overTime})
    </insert>
    <select id="findById" resultType="com.zhw.po.ShareFile">
        select * from share_files where id = #{id}
    </select>
</mapper>